*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/settings.gradle
/gradle
/build.gradle
/app/build.gradle
/app/src/test/
/gradle.properties
gradlew.bat




